spotplug-console/target/
spotplug-console/.classpath
spotplug-console/.project
spotplug-console/.settings/
spotplug-core/target/
spotplug-core/.classpath
spotplug-core/.project
spotplug-core/.settings/
.settings/
.project
.idea/
spotplug-console/spotplug-console.iml
spotplug-core/spotplug-core.iml
spotplug.iml
