spotplug-console/target/
spotplug-console/.classpath
spotplug-console/.project
spotplug-console/.settings/
spotplug-core/target/
spotplug-core/.classpath
spotplug-core/.project
spotplug-core/.settings/
.settings/
.project
spotplug-bus/.classpath
spotplug-bus/.project
spotplug-bus/.settings/
spotplug-bus/target/
spotplug-bus/bin/
